- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широта
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

## Условие 1: 1 задача
- Скачать файл в уроке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kc_house_data.csv')    #занрузили файл
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df.index   #индексы по умолчанию. Изменить столбец с индексами - index_col'название столбца'

RangeIndex(start=0, stop=21613, step=1)

In [4]:
df.values # значения построчно

array([[7129300520, '20141013T000000', 221900.0, ..., -122.257, 1340,
        5650],
       [6414100192, '20141209T000000', 538000.0, ..., -122.319, 1690,
        7639],
       [5631500400, '20150225T000000', 180000.0, ..., -122.233, 2720,
        8062],
       ...,
       [1523300141, '20140623T000000', 402101.0, ..., -122.299, 1020,
        2007],
       [291310100, '20150116T000000', 400000.0, ..., -122.069, 1410,
        1287],
       [1523300157, '20141015T000000', 325000.0, ..., -122.299, 1020,
        1357]], dtype=object)

In [5]:
df['floors']  #вывели столбец

0        1.0
1        2.0
2        1.0
3        1.0
4        1.0
        ...
21608    3.0
21609    2.0
21610    2.0
21611    2.0
21612    2.0
Name: floors, Length: 21613, dtype: float64

In [6]:
df.columns #вывели название всех столбцов

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [7]:
# df = pd.read_csv('kc_house_data.csv', header=3) № поменяли строуку с заголовками
# df.head()

In [8]:
df.tail() #строки с конца

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [9]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3014,16000015,20150417T000000,219950.0,3,1.50,1070,6601,1.0,0,0,...,6,1070,0,1985,0,98002,47.3115,-122.209,1030,6614
14772,1240100065,20150424T000000,807500.0,4,2.50,3190,24170,2.0,0,0,...,10,3190,0,2002,0,98074,47.6209,-122.052,2110,26321
8287,4310701577,20140509T000000,382000.0,3,3.25,1410,1253,3.0,0,0,...,8,1410,0,2005,0,98103,47.6981,-122.340,1410,1253
18309,7539900040,20140728T000000,625000.0,4,2.50,1750,9000,1.0,0,0,...,8,1410,340,1977,2003,98052,47.6403,-122.105,2120,9600
2315,7640400070,20140915T000000,665000.0,4,2.50,2080,8100,1.0,0,2,...,8,1220,860,1952,0,98177,47.7228,-122.369,2090,8100

In [10]:
df.sample(5) #возвращает случайные строки. По умоляанию одну

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4210,7334501130,20141201T000000,255000.0,3,2.00,930,11475,1.0,0,0,...,7,930,0,1978,0,98045,47.4644,-121.745,1280,11250
8926,4307330180,20150328T000000,348000.0,3,2.50,1670,5090,2.0,0,0,...,7,1670,0,2003,0,98056,47.4799,-122.180,2560,4851
18314,6708200040,20140507T000000,409500.0,4,2.75,2140,13000,1.0,0,0,...,7,1320,820,1968,0,98028,47.7683,-122.252,2360,11000
17040,8142000080,20150212T000000,420000.0,4,1.50,1690,9391,1.0,0,0,...,7,1290,400,1960,0,98155,47.7438,-122.329,1780,9390
11805,1698900075,20150415T000000,740000.0,4,2.75,2890,4000,1.5,0,0,...,9,2190,700,1931,0,98109,47.6419,-122.351,2280,4000

In [11]:
df.sample(frac = 1) #Если frac = 1 => перемешивает 100% таблицы. Если frac = 0.5 => 50% таблицы и т.д.

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1326,9126100550,20140513T000000,625000.0,3,3.50,1810,1846,2.0,0,0,...,8,1440,370,2009,0,98122,47.6070,-122.305,1480,3600
20503,291310120,20141209T000000,355000.0,3,2.25,1410,1332,2.0,0,0,...,7,1290,120,2004,0,98027,47.5345,-122.069,1445,1290
19631,3157600075,20150207T000000,380000.0,3,2.00,1440,3218,1.0,0,0,...,7,850,590,2008,0,98106,47.5655,-122.360,1170,5000
8151,5249803550,20140602T000000,635000.0,3,2.50,1960,7200,1.0,0,0,...,8,980,980,1940,0,98118,47.5655,-122.270,1440,7200
2699,985001266,20141215T000000,250000.0,3,1.50,2210,11111,1.5,0,0,...,7,2210,0,1934,0,98168,47.4920,-122.309,1250,8422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15985,5637500250,20150210T000000,447000.0,2,1.00,760,6035,1.0,0,0,...,6,760,0,1920,0,98136,47.5443,-122.382,2110,6046
12379,9482700075,20150112T000000,800000.0,4,3.50,2370,3302,2.0,0,0,...,8,1610,760,1926,2014,98103,47.6840,-122.341,2170,3800
19591,8682261140,20140618T000000,564000.0,2,2.00,1690,4500,1.0,0,0,...,8,1690,0,2004,0,98053,47.7133,-122.031,1640,4500
5082,3832061060,20140807T000000,311000.0,4,2.50,2690,6124,2.0,0,0,...,7,2690,0,2007,0,98042,47.3343,-122.058,2300,6002
16552,4217402162,20140725T000000,1185000.0,3,2.25,2390,7875,1.0,0,1,...,10,1980,410,1948,0,98105,47.6515,-122.278,3720,9075

In [12]:
df.shape  # размер таблицы (строки, столбцы). Это кортеж, поэтому можно обратиться по индексу

(21613, 21)

In [13]:
df.shape[0] #строки

21613

In [14]:
df.shape[1] #столбцы(признаки)

21

### Условие 2: 2 задача
- Проведите первичный анализ данных
- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [16]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [17]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [18]:
# пропусков нет, строчные значения только в ID. df.shape - показывает фактическое количество столбцов 1-21, 
#а здесь по индексам 0-20

In [19]:
df.describe() #nтолько числа; нет date(дата продажи дома)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [20]:
# максимум 33 спальни? Восемь ванных комнат? но это не в одном доме. Показатели по каждому столбцу

In [21]:
df[['bedrooms', 'bathrooms']].max().round(2) # можно не всю таблицу выводить а по отдельным столбцам посмотреть + округление

bedrooms     33.0
bathrooms     8.0
dtype: float64

In [22]:
df.describe(include=[object])  # смотрим столбец со строками Больше всего сделок - 142 совершено 20140623T000000

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [23]:
df_bathrooms = df['bathrooms'].value_counts()  # как правило 2-3 сан. узла Считаем знгачения в стольбце
df_bathrooms

bathrooms
2.50    5380
1.00    3852
1.75    3048
2.25    2047
2.00    1930
1.50    1446
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      72
4.75      23
5.00      21
5.25      13
0.00      10
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
6.75       2
8.00       2
6.25       2
6.50       2
7.50       1
7.75       1
Name: count, dtype: int64

In [24]:
df['bedrooms'].value_counts() #можно без создания переменной

bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [30]:
df['sqft_basement'].dtype  #тип данныъ в столбце

dtype('int64')

In [26]:
# df['sqft_basement'].astype('bool') #поменяли тип данных временно

In [27]:
# df['sqft_basement'].dtype # проверили int

In [28]:
# df['sqft_basement'] = df['sqft_basement'].astype('bool') # присвоили столбцу новый тип данных постояннт

In [29]:
# df['sqft_basement'].dtype   # проверили - bool

In [31]:
df['floors'].unique() # уникальные значения в столбце(признаке)

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

In [32]:
df['floors'].nunique() # колическтво уникальных значений

6

In [33]:
df['floors'].value_counts() # кроличество покаждому значению

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [35]:
df['floors'].value_counts(normalize=True) * 100 # процентное соотношение normalize=True означает, что включили функцию; False- выключили

floors
1.0    49.414704
2.0    38.129829
1.5     8.837274
3.0     2.836256
2.5     0.744922
3.5     0.037015
Name: proportion, dtype: float64

## Условие 3: 3 задача
Ответьте на несколько вопросов
### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [37]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [39]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [41]:
df_sqft_lot = df['sqft_lot'].sum()
df_sqft_lot

326506890

In [43]:
df_sqft_living = df['sqft_living'].sum()
df_sqft_living

44952873

In [45]:
round(df_sqft_living/df_sqft_lot*100, 2)

13.77

In [ ]:
3.3 Как много домов с разными этажами в данных?

In [46]:
df['floors'].value_counts()  #абсолютные числа

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [50]:
round(df['floors'].value_counts(normalize=True) * 100, 2) # проценты

floors
1.0    49.41
2.0    38.13
1.5     8.84
3.0     2.84
2.5     0.74
3.5     0.04
Name: proportion, dtype: float64

### 3.4 Насколько хорошие состояния у домов в данных?

In [52]:
df['condition'].mean().round(2) # в среднем на 3+

3.41

In [54]:
df['condition'].nunique()

5

In [55]:
df['condition'].value_counts() # совсем убитых домов 202

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [60]:
round(df['condition'].value_counts(normalize=True) * 100, 2)  # или 0.94%

condition
3    64.92
4    26.28
5     7.87
2     0.80
1     0.14
Name: proportion, dtype: float64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [63]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

In [68]:
df.sort_values('yr_built').head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4697,9126101645,20140610T000000,558000.0,4,2.0,2180,3870,1.0,0,0,...,7,1020,1160,1900,0,98122,47.6089,-122.303,1520,2580

In [69]:
df.sort_values('yr_built').tail(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14489,2770601530,20140826T000000,500000.0,2,2.25,1570,1269,2.0,0,0,...,9,1280,290,2015,0,98199,47.6514,-122.385,1570,6000

## Условие 4: 4 задача
Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [76]:
df[df['bedrooms'] == 2].price.mean().round(2)

401372.68

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [75]:
df[df['price']>600000].sqft_lot.mean().round(2)

20442.52

### 4.3 Как много домов коснулся ремонт?

In [78]:
df['yr_renovated'].dtype

dtype('int64')

In [80]:
df['yr_renovated'].astype('bool')

0        False
1         True
2        False
3        False
4        False
         ...
21608    False
21609    False
21610    False
21611    False
21612    False
Name: yr_renovated, Length: 21613, dtype: bool

In [82]:
df_yr_renovated = df['yr_renovated'].astype('bool')

In [86]:
df_yr_renovated.dtype

dtype('bool')

In [87]:
df_yr_renovated.value_counts() #ремонт коснулся 914 домов

yr_renovated
False    20699
True       914
Name: count, dtype: int64

In [89]:
df_yr_renovated.value_counts(normalize=True) * 100   # или 4.2% домов

yr_renovated
False    95.771064
True      4.228936
Name: proportion, dtype: float64

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [96]:
df_grade_great = df[df['grade']>10].price.mean()
df_grade_great

1678635.1175298805

In [98]:
df_grade_lowest = df[df['grade']<4].price.mean()
df_grade_lowest

189750.0

In [110]:
diff = round(df_grade_great - df_grade_lowest, 2)
diff

1488885.12

In [108]:
diff = round(df[df['grade']>10].price.mean() - df[df['grade']<4].price.mean(), 2)  # вариант 2
diff

1488885.12

## Условие 5: 5 задача
Ответьте на несколько вопросов
### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [119]:
df[(df['waterfront']>0) & (df['bathrooms'] >=3) & (df['sqft_basement']>0)].shape[0]

41

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, 
в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [123]:
df[(df['view'] == 4) | (df['waterfront'] > 0) & (df['condition'] == 5) & (df['yr_built'] > 1980)].price.min(), df[(df['view'] == 4) | (df['waterfront'] > 0) & (df['condition'] == 5) & (df['yr_built'] > 1980)].price.max()

(252000.0, 6885000.0)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [125]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price']<=150000)].condition.mean()

3.0

In [126]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price']<=150000)].grade.mean()

7.0